<style type="text/css">
    .content-wrapper {
        width: 100%;
    }
    .left-aside {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 45px;
    }
    .row-fluid [class*="span"] {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 0%;
    }
    .row-fluid .span3 {
        width: 25.0%;
    }
    .row-fluid .span7 {
        max-width: 1000px;
        padding-left: 12px;
        margin-left: 25%;
        width: 780px;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
    .cover-img {
        background-image: url('/img/bg-left.jpg');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .left-aside .bottom-block {
        position: absolute;
        bottom: 0;
        padding: 30px;
        color: white;
    }
    .article-list {
        padding: 0;
        list-style: none;
        padding-left: 36px;
        margin: 35px 0 0;
    }
    .article-list:before, .article-list:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .article-list li {
        float: left;
        line-height: 20px;
        position: relative;
        width: 100%;
        padding-right: 2px;
        padding-bottom: 17px;
        margin: 0 0 17px;
        border-bottom: 1px dashed #d9d9d9;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    .article-list .title {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        display: inherit;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.5;
        cursor: pointer;
    }
</style>
<div class="content-wrapper row-fluid">
	<div class="span3 left-aside">
		<div class="cover-img"></div>
		<div class="bottom-block">
			<h1>我的文章笔记</h1>
			<a class="btn btn-large btn-success" id="write-button" href="/sign_in">提笔写篇文章</a>
		</div>
	</div>
	<div class="span7 offset3">
		<ul class="article-list">
		{{#each articles}}
			<li class="article">
				<h4 class="title">
					<a href="{{href}}" target="_blank">{{title}}</a>
                </h4>
                <p class="desc">{{description}}</p>
			</li>
			{{/each}}
		</ul>
	</div>
	
</div>