<!DOCTYPE html>
<html>
<head>
	<title>Technology Travel</title>
	{{#if showTests}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body class="fluid">
	<div class="navbar-user">
		<a class="login">
			<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 150 192">
                <g fill="#c3c3d8">
                    <title>account</title>
                    <ellipse stroke="null" ry="43.5" rx="36.99995" id="svg_2" cy="45.49873" cx="74.99913" stroke-opacity="null" stroke-width="null" />
                    <path stroke="null" id="svg_3" d="m21.49903,191.49108c0,0 105,-1.01127 105,-1.01127c12.99873,1.01117 12,-1.01126 12,-1.01126c1.49986,2.52792 11,-43.48448 11,-43.48448c-6,-45.507 -72,-43.48447 -72,-43.48447c-67.49975,-2.02214 -76,38.42814 -76,38.42814c0,0 4.50044,58.14809 20,50.56334z" stroke-opacity="null" stroke-width="null" />
                </g>
            </svg>注册
		</a>
		<a class="login">
			<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 270 172">
                <g fill="#c3c3d8">
                    <title>forum</title>
                    <rect rx="14" ry="14" stroke="null" x="2.47261" y="2.49882" width="202" height="139" id="svg_4" />
                    <path stroke="null" d="m85.47261,173.49894c0,0 50,-33 50,-33c0,0 -51,-1 -51,-1c0,0 1,34 1,34z" id="svg_6" />
                    <path stroke="null" d="m215.00892,53.99981c0,0 0,67.49996 0,67.49996c0,0 -0.75,7 -3.49999,13c-2.75,5.99999 -6.25079,9.50094 -7.5,10.99999c0.74953,-1.24921 15.99999,-0.25 14.49999,-1.5c-1.5,-1.25 28.99999,26.49999 28.99999,26.49999c0,0 -1,-24.99999 -1,-24.99999c0,0 14.49999,-0.5 14.49999,-0.5c6.49591,-0.24984 7.5,-9.49999 7.5,-9.49999c0,0 0.99999,-72.99996 0.99999,-72.99996c-2.49842,-9.24418 -9.49999,-8.5 -9.49999,-8.5c0,0 -2.8125,0 -7.03125,0c-4.21874,0 -9.84374,0 -15.46874,0c-5.625,0 -11.24999,0 -15.46874,0c-4.21875,0 -7.03125,0 -7.03125,0z" id="svg_11" />
                    <ellipse fill="#ffffff" stroke-width="null" cx="59.5" cy="72.5" id="svg_8" rx="13" ry="13" stroke="null" />
                    <ellipse fill="#ffffff" stroke-width="null" cx="107.5" cy="73.5" id="svg_9" rx="13" ry="13" stroke="null" />
                    <ellipse fill="#ffffff" stroke-width="null" cx="155.5" cy="72.5" id="svg_10" rx="13" ry="13" stroke="null" />
                </g>
            </svg>登录
		</a>
	</div>
	<div class="navbar">
		<div class="menubar">
			<a class="logo active">文</a>
		</div>
	</div>
	{{{body}}}
	<footer>
		<div class="footer-l">
			<p>
		      <a href="" target="_blank">关于</a> |
		      <a target="_blank" href="/contact">联系我</a> |
		    </p>
		</div>
		<div class="footer-r"></div>
	</footer>
	{{#if showTests}}
		<div id="mocha"></div>
		<script type="text/javascript" src="/vendor/mocha.js"></script>
		<script type="text/javascript" src="/vendor/chai.js"></script>
		<script type="text/javascript">
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script type="text/javascript" src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script type="text/javascript" src="{{pageTestScript}}"></script>
		{{/if}}
		<script type="text/javascript">mocha.run();</script>
	{{/if}}
</body>
</html>